@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@100;200&family=Quicksand:wght@300&display=swap');
:root {
  --bs-primary: #198754;
  --bg-primary: #198754;
  --bg-blue-green: #2B9F8A;
  --bg-grey: #666666;
  --bg-footer-2: #EDEAEA;
  --bg-light-teal: #BFE0DB99;
  --bg-dark-teal: rgba(25, 190, 166, 0.6);
  --bs-yellow: rgba(213, 171, 20, 1);
  --bs-dark-yellow: rgba(255, 230, 8, 1);
  --bg-secondary-light: #3c3c3c;
  --bold-text: rgba(27, 185, 162, .14);
  --bs-text-green: rgba(32, 158, 141, 1);
  --bg-light-secondary: rgba(239, 239, 239, 1);
  --bg-card-orange: #F89F5B;
  --bg-orange: hsl(26, 92%, 66%);
  --bg-card-pink: rgba(229, 63, 113, 1) ;
  --bg-card-purple: rgba(192, 63, 166, 1);
  --bg-card-green: #189583;
  --bg-green: #189583;
  --bg-dark-green: rgba(29, 104, 93, 1);
  --bg-dark-success-light: rgb(89, 238, 216);
  --bs-dark-blue:'#1439bf';
  --bs-scrollbar-color: rgba(29, 104, 93, 1) !important;
  --bs-scrollbar-hover-color: rgba(29, 104, 93, 1) !important;
 }

 .text-yellow{
  color: var(--bs-yellow);
}
.bg-secondary-light{
  background-color: var(--bg-secondary-light);
}
 .bg-green{
   color: var(--bg-card-green);
 }
 .bg-orange{
   color: var(--bg-card-orange);
 }
 .bg-col-2{
   background-color: var(--bg-orange) !important;
 }
 .bg-col-3{
   background-color: var(--bg-green) !important;
 }
 .bg-col-4{
  background-color: var(--bg-blue-green) !important;
}
 .bg-light-secondary{
  background-color: var(--bg-light-secondary);
 }
 .text-green{
  color: var(--bs-text-green);
}
 .display{
  font-size:calc(8rem + 0.390625vw) ;
  font-weight: bolder;
  color: var(--bold-text);
 }
.bg-pink{
  background-color: var(--bg-card-pink);
}
 .btn-pink:hover{
  background-color: var(--bg-card-pink) !important;
  color: #fff !important;
 }
 .btn-orange:hover{
  background-color: var(--bg-card-orange) !important;
  color: #fff !important;
 }
 .btn-purple:hover{
  background-color: var(--bg-card-purple) !important;
  color: #fff !important;
 }
 /* .card-pink:hover .fas{
  color: #fff !important;
 } */
 .btn-pink:hover .fas{
  color: #fff !important;
 }
 .btn-orange:hover .fas{
  color: #fff !important;
 }
 .btn-purple:hover .fas{
  color: #fff !important;
 }

 .btn-secondary-light{
  border: 1px solid #3c3c3c2f !important;
  background: #fff !important;
 }

 /* Active state for the button */
.btn-pink:active, 
.btn-pink:focus {
    background-color: var(--bg-card-pink) !important; /* Adjust the active color as per your preference */
    box-shadow: none; /* Remove box shadow on active state if you want */
    outline: none; /* Remove outline on focus if you want */
    color: white; /* Text color on active state */
}
.btn-orange:active, 
.btn-orange:focus {
    background-color: var(--bg-card-orange) !important; /* Adjust the active color as per your preference */
    box-shadow: none; /* Remove box shadow on active state if you want */
    outline: none; /* Remove outline on focus if you want */
    color: white; /* Text color on active state */
}
.btn-purple:active, 
.btn-purple:focus {
    background-color: var(--bg-card-purple) !important; /* Adjust the active color as per your preference */
    box-shadow: none; /* Remove box shadow on active state if you want */
    outline: none; /* Remove outline on focus if you want */
    color: white; /* Text color on active state */
}

 :target{
  background-color: #0f6c40;
 }
 
 .card-pink1:hover{
  background-color: var(--bg-card-pink) !important;
 }
 
 .card-orange:hover{
  background-color: var(--bg-card-orange) !important;
  color: #fff !important;
 }
 .card-orange:hover .fas{
  color: #fff !important;
 }
 
 .card-orange1:hover{
  background-color: var(--bg-card-orange) !important;
 }
 
 .card-purple:hover{
  background-color: var(--bg-card-purple) !important;
  color: #fff !important;
 }
 .card-purple:hover .fas{
  color: #fff !important;
 }
 .card-purple1:hover{
  background-color: var(--bg-card-purple) !important;
 }
 
 .card-green:hover{
  background-color: var(--bg-card-green) !important;
 }
 .card-green1:hover{
  background-color: var(--bg-card-green) !important;
 }

 .faq-text:hover{
  color: var(--bg-card-pink);
 }

 .navbar-light-300{
  background-color: #d5e7df;
 }
 .form-header{
  background-color: #1f5f5b;
 }
 .form-body{
  background-color: #cddbd9;
 }
 .main-bg{
  background-color: #eee;
  position: top!important;
}
.car-animate{
  position: relative;
  animation: mymove 7s infinite;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: calc(100vw - 130px); right: 0px;}
}
.circles{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  /* background: rgba(6, 81, 31, 0.331); */
  /* background: linear-gradient(to top rgba(12, 146, 57, 0.331)50%,  rgba(7, 83, 33, 0.331)50%); */
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 15%;
  width: 80px;
  height: 80px;
  animation-delay: 10s;
  background: rgba(228, 63, 85, 0.331);
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
  background: rgba(6, 81, 31, 0.331);
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 10s;
  background: rgba(160, 232, 36, 0.331);
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
  background: rgba(65, 169, 211, 0.331);
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  background: rgba(129, 71, 120, 0.331);
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 10s;
  background: rgba(49, 60, 181, 0.331);
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 15s;
  background: rgba(18, 141, 59, 0.331);
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
  background: rgba(56, 59, 244, 0.331);
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 45s;
  background: rgba(142, 74, 214, 0.331);
}

.circles li:nth-child(10){
  left: 20%;
  width: 150px;
  height: 150px;
  animation-delay: 18s;
  animation-duration: 20s;
  background: rgba(246, 210, 28, 0.331);
}
.circles li:nth-child(11){
  left: 85%;
  width: 70px;
  height: 70px;
  animation-delay: 20s;
  animation-duration: 17s;
  background: rgba(189, 69, 93, 0.331);
}
.circles li:nth-child(12){
  left: 85%;
  width: 90px;
  height: 90px;
  animation-delay: 0s;
  animation-duration: 23s;
  background: rgba(216, 103, 37, 0.331);
}
.circles li:nth-child(13){
  left: 15%;
  width: 100px;
  height: 100px;
  animation-delay: 20s;
  animation-duration: 9s;
  background: rgba(40, 219, 13, 0.331);
}
.circles li:nth-child(14){
  left: 75%;
  width: 50px;
  height: 50px;
  animation-delay: 10s;
  animation-duration: 30s;
  background: rgba(59, 139, 189, 0.324);
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-3000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}
 .btn-custom{
   border: none;
   background: black;
 }
 .btn-custom1{
   border: none;
   background: var(--bg-blue-green);
 }
 .btn-custom2{
   border: 1px solid ghostwhite;
   background: none;
   
 }
 .btn-custom:hover{
   background-color: black !important;
   color: #fff;
 }
 .nav-item{
  color: black;
 }
 .nav-grey{
  background-color: none;
 }
 .nav-grey:hover{
  background-color: #D9D9D9;
 }
 .nav-link{
  font-weight: bold;
 }
 .nav-item:hover{
  color: black !important;
  text-decoration: underline 2px var(--bg-blue-green);
 }
 .reg-text{
   color: #198754;
   text-decoration: underline #198754;
 }
 .reg-text:hover{
   color: #0f6c40;
   text-decoration: none;
 }
 .link-custom{
   color: #4d635f;
 }
 .link-custom:hover{
   color: #198754;
 }
 .btn-outline-custom:hover {
   background-color: #198754 !important;
   border-color: #198754 !important;
   color: white!important;  
   text-decoration:solid;
 
 }
 a.btn:hover {
   background-color: #198754;
   border-color: #198754 !important;
   color: #fff;
 
 }
 
 .navbar .nav-link {
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
   font-size: 12px;
 }
 .navbar{
   position: fixed;
 }
 #parallax-world-of-ugg .parallax-one {
  padding-top: 80px; 
  padding-bottom: 80px; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  background-image: 
  url(https://staging.commuterslink.com/assets/images/opaque.png); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: top center;}
 #parallax-world-of-ugg .parallax-two {
  padding-top: 80px; padding-bottom: 
  80px; overflow: hidden; position: 
  relative; width: 100%; 
  background-image: url(https://staging.commuterslink.com/assets/images/opaque.png); 
  background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}
 .heading-color{
   padding: 10px 0;
   color: #198754;
   
 }
 /* section {
   padding: 20px 0;
} */
.accordion{
 display: flex;
 justify-content: center;
}
.img-fluid{
 width: 40vw;
 height: 40vh;
}
.accordionheight{
 width: 100px;
height: 150px;
}

img.crousel{
 width: 100%;
}

.textride{
 width: 70rem;
 height: 5%;
 margin: auto;
 
}

.imageCard{
 padding: 30px;
   position: relative;
   overflow: hidden;
   background: #fff;
   box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
   transition: all 0.3s ease-in-out;
   border-radius: 8px;
   z-index: 1;
   margin-bottom: 10px;
}
CardGroup a{
 text-decoration: none;
}
#work-card {
 border: 0.5px solid #334240;
 border-radius: 20px;
 color: #334240;
 box-shadow: 5px 5px 5px #e1e1e1;
 padding: 3em 0;
 background: linear-gradient(to left, white 50%, #1bbca3 50%);
 background-size: 200%;
 background-position: right;
 transition: background-position 0.5s ease-out;
}
.card-icon {
 margin: 0 1em;
} 
#work-card:hover {
 background-position: left;
 color: #fff;
}
.media{
 width: '10%';
}
.heading a {
 color: #5f7c78;
 text-decoration: none;
}
.heading a:hover{
 text-decoration: none;
 color: #fff;
}
/* .Typography1:hover{
 color:#fff;
} */


.container_foto img {
 width: 100%;
 top: 0;
 left: 0;
 opacity: 0.4;
 -webkit-transition: all 4s ease;
 -moz-transition: all 4s ease;
 -o-transition: all 4s ease;
 -ms-transition: all 4s ease;
 transition: all 4s ease;
}


.form-group{
 margin:auto;
}
.inputContact{
 color: #198754;
}
.formlabel{
font-weight: bold;
color: #198754;
}
.btnForm{
 background-color: none;
 border-color: #198754; 
 text-align: center;
}
.sharingRide h3{
 color: #fff !important;
 font-weight: 500;
 font-size: 25px;
 
}
.sharingRide article {
 padding: 10%;
 position: absolute;
 bottom: 0;
 z-index: 1;
 -webkit-transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 -ms-transition: all 0.5s ease;
 transition: all 0.5s ease;
}
.sharingRide h3 a{
 text-decoration: none;
}
/* #footer .footer-top .footer-links ul li {
 padding: 12px 0;
 display: flex;
 align-items: center;
}
#footer .footer-top {
 background: #3d4f4c;
 border-bottom: 1px solid #4d635f;
 padding: 60px 0 30px 0;
} */
/* #bottom-footer{
 background-color: #198754;
}
#footer .footer-top {
 background: #fff;
 border-bottom: 1px solid #4d635f;
 padding: 40px 0 30px 0;
} */
/* #footer {
 background: #344341;
 padding: 0 0 30px 0;
 color: #fff;
 font-size: 14px;
} */
/* #footer .footer-top .social-links a {
 font-size: 18px;
 display: inline-block;
 background: #58716d;
 color: #fff;
 line-height: 1;
 padding: 8px 0;
 margin-right: 4px;
 border-radius: 50%;
 text-align: center;
 width: 36px;
 height: 36px;
 transition: 0.3s;
} */
/* #footer .footer-top .footer-newsletter form input[type=submit] {
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 border: 0;
 background: none;
 font-size: 16px;
 padding: 0 20px;
 background: #1bbca3;
 color: #fff;
 transition: 0.3s;
 border-radius: 4;
} */
#footer .footer-top .footer-newsletter form input[type=email] {
 border: 0;
 padding: 4px;
 width: calc(100% - 110px);
}

#footer .footer-top .footer-links ul {
 list-style: none;
 padding: 0;
 margin: 0;
}

.bg-light-100{
  background-color: var(--bg-footer-2);
}


#footer .footer-top .footer-links ul a {
 color: #000;
 transition: 0.3s;
 display: inline-block;
 line-height: 1;
 text-decoration: none;
 font-weight: 600;
}
#footer .footer-top .footer-links ul a:hover {
 color: #56e7d0;
 transition: 0.3s;
 display: inline-block;
 line-height: 1;
 text-decoration: none;
}
.footer- .logo {    display: inline-block;}
i {
 padding-right: 2px;
 color: #56e7d0;
 font-size: 18px;
 line-height: 1;
}
#footer .footer-top .footer-newsletter form {
 margin-top: 30px;
 background: #fff;
 padding: 6px 10px;
 position: relative;
 border-radius: 4;
}
#footer .footer-top .social-links a {
 font-size: 18px;
 display: inline-block;
 background: #58716d;
 color: #fff;
 line-height: 1;
 padding: 8px 0;
 margin-right: 4px;
 border-radius: 50%;
 text-align: center;
 width: 36px;
 height: 36px;
 transition: 0.3s;
}
.info h4 {
 padding: 0;
 margin: 0 0 10px 0;
 font-size: 16px;
 font-weight: 600;
 text-transform: uppercase;
 font-family: "Poppins", sans-serif;
}
.bg-grey{
  background-color: var(--bg-grey);
}
.bg-blue-green{
  background-color: var(--bg-blue-green);
  border: none;
}
#footer .footer-top .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #1bbca3;
    color: #fff;
    transition: 0.3s;
    border-radius: 4;
}
.info p {
 font-size: 13px;
}
.info {
 padding: 40px;
 background: #fff;
 color: #334240;
 text-align: center;
 box-shadow: -5px -5px 40px 0 rgba(0, 0, 0, 0.1);
}
.form-check-input{
 border-color: #198754;
}
.container_foto {
 background-color: rgba(3, 4, 9, 0.7);
 overflow: hidden;
 max-width: auto;

}
.container_foto article {
 padding: 10%;
 position: absolute;
 bottom: 0;
 z-index: 1;
 -webkit-transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 -ms-transition: all 0.5s ease;
 transition: all 0.5s ease;
}
.container_foto h2 {
 color: #fff;
 font-weight: 500;
 font-size: 25px;
 border-bottom: #fff solid 1px;
}
.container_foto img {
 width: 100%;
 top: 0;
 left: 0;
 opacity: 0.4;
 -webkit-transition: all 4s ease;
 -moz-transition: all 4s ease;
 -o-transition: all 4s ease;
 -ms-transition: all 4s ease;
 transition: all 4s ease;
}
.ver_mas span {
 font-size: 40px;
 color: #fff;
 position: relative;
 margin: 0 auto;
 width: 100%;
 top: 13px;
} 

.container_foto:hover {
 cursor: pointer;
}
.container_foto:hover img {
 opacity: 0.1;
 transform: scale(1.5);
}
.formbtn{
 border: 1px solid !important;
 border-radius: 40px !important;
 border-color: #198754 !important;
 background-color: White !important;
 color: #198754  !important;
 font-weight: 700 !important;
 font-size: smaller !important;
}
/* @media (max-width: 768px) {
 .carousel-item {
   flex: 0 0 50%;
 }
} */

/* @media (max-width: 480px) {
 .carousel-item {
   flex: 0 0 100%;
 }
} */
.btnregistration{
 border: 1px solid !important;
 border-radius: 40px !important;
 border-color: #198754 !important;
 background-color: White !important;
 color: #198754  !important;
 font-weight: 700 !important;
 font-size: smaller !important;

}
.btnregistration:hover{
 background-color: #198754 !important;
   border-color: #198754 !important;
   color: #fff !important;
}
.accordianfaqs{
 background-color: #cddbd9  !important;
}
img.carousel{
 width: 100%;
}
.btnDriver{
 background-color: #198754!important;
 box-shadow: none !important;
 color: #ffff !important;
}

.btnDriver:hover{
 border-color: #198754!important;
}

.btnWhite{
 background-color: #ffff !important;
 color: #198754 !important;
 border-color: #198754!important;
}
.new-heading{
 background-color: #198754!important;
 color:#ffff;
}
.colorplace::placeholder{
 color: #198754!important;
}
.cardpadding{

}
.text_underline{
 text-decoration: underline;
}
.full-width-container{
 width: 100% !important;
}
.second_heading{
color: #cfdfdc!important;
}
.menu li{
 list-style: none;
 text-decoration: none !important;
 color: white;
 list-style: none;
}
.menu a{
 text-decoration: none;
}
ul{
 list-style: none;
}
.menu{
 width:100%;
 margin-top:30px;
}
.menu .item{
 position:relative;
 cursor:pointer;
}
.menu .item a{
 color:#ffff;
 font-size:16px;
 text-decoration: none;
 display:block;
 padding: 5px 25px;
 line-height: 40px;
 list-style: none;
}
.menu .item a li{
list-style: none;
}
.btn_view{
 color: dark!important;
 font-weight: bold!important;

}
.btn_view1{
 color:white!important;
 font-weight:bold!important;
 background-color: #198754;
}
.btn_view1:hover{
 background-color: #198754!important;
}
:root {
 --bs-primary: #198754;
 --bg-primary: #198754;
}

.btn-custom{
  border: 1px solid #198754 ;
}
.btn-custom:hover{
 border: 1px solid #198754 ;
 background-color: var(--bg-primary) ;
  color: #fff ;
}

.text-custom{
  color: #198754;
}
a.btn:hover {
 background-color: #198754;
 border-color: #198754 !important;
 color: #fff;

} */
a.nav-link:hover {
 color: #198754 !important;
 text-decoration: underline;
}
.navbar .nav-link {
 font-family: 'Open Sans', sans-serif;
 font-weight: bold;
 font-size: 12px;
}

#parallax-world-of-ugg .parallax-one {
  padding-top: 80px; 
  padding-bottom: 80px; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  background-image: url(https://staging.commuterslink.com/assets/images/opaque.png); 
  background-attachment: fixed; 
  background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover; 
  background-repeat: no-repeat; 
  background-position: top center;
}

#parallax-world-of-ugg .parallax-two {
  padding-top: 80px; 
  padding-bottom: 80px; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  background-image: url(https://staging.commuterslink.com/assets/images/opaque.png); 
  background-attachment: fixed; 
  background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;
}

.btn-join-us{
 padding: 12px 32px;
 border-radius: 50px;
 line-height: 1;
 margin: 10px;
 color: white !important;
 border: 2px solid #198754 !important;
 background-color: #198754 !important;
 font-size: 12px;
 font-weight: bold;
 font-family: "Poppins", sans-serif;
 display: inline-block;
}
.nav-link{
 cursor: pointer;
}
/* .setimg{
  height: ; 
  object-fit: cover;
} */
.advancecolor{
  background-color: 'rgb(217,217,217)';
}
.hero{
  width:100%;
  min-height: 100vh;
  /* background: linear-gradient(45deg,#1d0000, #20205b); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar{
  width: 500px;
  height: 250px;
  background: #fff;
}
.image-upload-container {
  width: 400px; /* Adjust the width as needed */
}

.backgroundColor{
  background-color:  rgb(191, 216, 210);
}

.font-custom{
  font-family: 'Quicksand', sans-serif;
}

.bg-teal{
  background-color: var(--bg-light-teal) !important;
}

.text-shadow{
  text-shadow: 2px 2px #000;
}
.bg-teal-dark{
  background-color: var(--bg-dark-teal) !important;
}

.text-yellow{
  color: var(--bs-dark-yellow);
}
.arrow-icon{
  color: white !important;
}
.arrow-icon:hover{
  color: black !important;
}
.bg-dark-opaque{
  background-color: rgba(0, 0, 0, .5);
}

.new-banner-circle{
  right: "20px" !important;
  /* top: "50%" !important; */
  top: calc(50% - 10px);
  transform: 'translateY(-50%)' !important;
  width: "350px" !important;
}
@media (max-width: 768px) {
  .new-banner-circle {
    display: none;
  }
}

.new-banner-rectangle{
  /* right: "20px" !important;
  top: "50%" !important;
  transform: 'translateY(-50%)' !important;
  width: "350px" !important; */
}
/* @media (max-width: 1024px) {
  .new-banner-rectangle {
    display: none;
  }
}

@media (mix-width: 1025px) {
  .new-banner-rectangle {
    position: relative; 
    width: fit-content; 
    left: "450px";
  }
} */

.new-banner-rectangle {
  position: absolute;
  left: 30%;
  transform: translateX(-50%); 
  top: calc(50% - 0px); 
  font-size: 24px;
  font-weight: 500;
}

@media (max-width: 576px) {
  .new-banner-rectangle {
    display: none;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .new-banner-rectangle {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .new-banner-rectangle {
    display: none;
  }
  
}

@media (min-width: 993px) and (max-width: 1200px) {
  .new-banner-rectangle {
    display: block; 
    width: 50%;
    max-width: 900px;
    position: relative;
    font-size: 20px;
    top: 200px;  }
}


@media  (min-width: 1021px) and (max-width: 1320px) {
  .new-banner-rectangle {
    display: block; 
    width: 50%;
    max-width: 900px;
    position: relative;
    font-size: 20px;
    top: 70px;
  }
}
@media  (min-width: 1321px) and (max-width: 1440px) {
  .new-banner-rectangle {
    display: block; 
    width: 50%;
    max-width: 900px;
    position: relative;
    font-size: 24px;
    top: 400px;
  }
}

@media (min-width: 1441px) {
  .new-banner-rectangle {
    display: block; 
    /* width: 50%; */
    max-width: 900px;
    position: relative;
    font-size: 30px;
    /* top: 700px !important; */
  }
}
@media (min-width: 2560px) {
  .new-banner-rectangle {
    display: block; 
    width: 50%;
    max-width: 900px;
    position: relative;
    font-size: 30px;
    top: 900px;
  }
}


.form-color-header{
  background: var(--bg-blue-green);
}

.form-color-field{
  background: var(--bg-light-teal);
}
.swal-text {
  font-size: 18px;
  color: #333;
  text-align: center;
  border: none;
}

/* Style the confirm button */
.swal-custom {
  background-color: #2b9f8a !important;
  color: #fff !important;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

/* Hover effect for the confirm button */
.swal-custom:hover {
  background-color: #2b9f8a;
}

.contactcolor{
  background-color: rgb(217 255 249);
}

.icon-tooltip-blue{
  color:rgba(32, 158, 141, 1)!important;
}
.btn-customfooter{
  border: none;
  background: var(--bg-blue-green);
}

@media (min-width: 992px) {
  .btn-customfooter {
    font-size: 24px; /* Adjust font size for large screens */
    padding: 15px 20px !important;
    border: none;
    background: var(--bg-blue-green);
     /* Adjust padding for large screens */
  }
}

/* Media query for medium screens */
@media (max-width: 991px) and (min-width: 768px) {
  .btn-customfooter {
    font-size: 20px; /* Adjust font size for medium screens */
    padding: 12px 90px  !important; /* Adjust padding for medium screens */
    border: none;
    background: var(--bg-blue-green);
  }
}

/* Media query for small screens */
@media (max-width: 767px) {
  .btn-customfooter {
    font-size: 18px; /* Adjust font size for small screens */
    padding: 10px 90px  !important; /* Adjust padding for small screens */
    border: none;
    background: var(--bg-blue-green);
  }
}

@media(max-width: 991px){
.card-body1{
  flex: 0 0 auto;
  width: 33.33% !important;
}
}

@media (min-width: 768px) {
  .card-body1 {
  flex: 0 0 auto;
  width: 33.3333% !important;
  }
}

@media (min-width: 767px) {
  .card-body1 {
  flex: 0 0 auto;
  width: 100% !important;
  }
}

@media (max-width: 800px) and (min-width: 360px) {
  .card-body1 {
  flex: 0 0 auto;
  width: 100% !important;
  }
}

@media (max-width: 844px) and (min-width: 390px) {
  .card-body1 {
  flex: 0 0 auto;
  width: 100% !important;
  }
}

@media (max-width: 896px) and (min-width: 414px) {
  .card-body1 {
  flex: 0 0 auto;
  width: 100% !important;
  }
}

@media (max-width: 873px) and (min-width: 393px) {
  .card-body1 {
  flex: 0 0 auto;
  width: 100% !important;
  }
}
@media (max-width: 915px) and (min-width: 412px) {
  .card-body1 {
  flex: 0 0 auto;
  width: 100% !important;
  }
}

.card-first{
  border-radius: 20%;
  border:1px solid #ccc;

}
.rounded-left {
  border-top-right-radius:0;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}
.font-custom-rectangle{
  color: var(--bg-blue-green) !important;

}

.home-video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  position: relative;
}

/* .video-width {
  width: 100%;
} */
@media (max-width: 480px) {
.video-width{
  height: 50vh;
}
}


@media (min-width: 481px) and (max-width: 767px) {
  .video-width{
    height: 200vh;
  }
}
@media (min-width: 768px) and (max-width: 1024px){
 .video-width{
  width:100% !important;
  height: auto;
 }
}
@media  (min-width: 1321px) and (max-width: 1440px) {
  .video-width {
    width: 100% !important;
    height: auto;
  }
}
@media (min-width: 1441px) {
  .video-width {
    width: 100%;
   height: auto;
  }
}
@media (max-width: 576px) {
  .home-video {
    height:500vh;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .home-video {
    
    height: 400vh;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .home-video {
    height: 500vh;
  }
  
}

@media (min-width: 993px) and (max-width: 1200px) {
 .home-video{
    height: 300px;
  }
}


@media  (min-width: 1021px) and (max-width: 1320px) {
  .home-video {
    width:"50px"
    height: 400px
}}
@media  (min-width: 1321px) and (max-width: 1440px) {
  .home-video {
    height: auto;
  }
}

@media (min-width: 1441px) {
  .home-video {
   height: auto;
  }
}
@media (min-width: 2560px) {
 .home-video{
    height: auto;
  }
}

.position-absolute {
  position: absolute;
}

/* Mobile view styling */
@media (max-width: 767px) {
  .video-container {
    position: relative;
  }

  .video-width {
    width: 100%;
 /* Set video width to 100% on smaller screens */
  }

  @media  (max-width: 1024px){
    .signup-mobile {
      margin-top: 80vh !important;
  }
}
 

  .position-absolute {
    position: relative; /* Change position to relative for stacking */
    transform: none; /* Reset transform */
  }
  .signup-mobile {
    margin-top: 78vh; /* Adjust margin-top as needed */
  }
  .accordion-padding{
    margin-top: 98vh;
  }
}

.position-absolute {
  position: absolute;
}