/* :root {
  --bs-primary: #198754;
  --bg-primary: #198754;
 }

 .bg-green{
   color: var(--bs-primary);
 }

 .btn-custom{
   border: 1px solid #198754 ;
 }
 .btn-custom:hover{
  border: 1px solid #198754 ;
  background-color: var(--bg-primary) ;
   color: #fff ;
 }

 .text-custom{
   color: #198754;
 }
a.btn:hover {
  background-color: #198754;
  border-color: #198754 !important;
  color: #fff;

} 
a.nav-link:hover {
  color: #198754 !important;
  text-decoration: underline;
}
.navbar .nav-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
}

#parallax-world-of-ugg .parallax-one {padding-top: 80px; padding-bottom: 80px; overflow: hidden; position: relative; width: 100%; background-image: url(Images/abstract-green-grunge-background.jpg); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: top center;}
#parallax-world-of-ugg .parallax-two {padding-top: 80px; padding-bottom: 80px; overflow: hidden; position: relative; width: 100%; background-image: url(Images/abstract-green-grunge-background.jpg); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}

.btn-join-us{
  padding: 12px 32px;
  border-radius: 50px;
  line-height: 1;
  margin: 10px;
  color: white !important;
  border: 2px solid #198754 !important;
  background-color: #198754 !important;
  font-size: 12px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  display: inline-block;
} */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  background-color: cadetblue;
}